
:root {
    /* Colors for the website */
    --primary-color: #bbb;
    --secondary-color: #d87c9d;
    --shade3-color: #464c58;
    --shade4-color: #ada86b;
    --shade6-color: #848365;
    --shade7-color:#2b2b2b;
    --shade8-color: #fff;
    --shade9-color: #000; 
   
    /* Animation Colors*/
    /* --tree-start-color:#a74357;
    --tree-transition-color: #edc655;
    --tree-finish-color: #a74357; */

    /* Font Style*/
    --body-font-style: normal;

    /* Font sizes used*/
    --body-font-size: 16px;
    --h1-font-size: 30px;
    --h2-font-size: 24px;
    --h3-font-size: 18px;
    --grid-h1-font-size: 22px;

    /* Font-weight used*/
    --body-font-weight: 400;
    --h1-font-weight: 700;
    --h2-font-weight: 700;
    --h3-font-weight: 700;

}

body {
    font-family: "Electrolize", sans-serif;
    /* font-family: "Limelight", sans-serif; */
    /* font-family: "Sedan", serif; */
    font-weight: var(--body-font-weight);
    font-style: var(--body-font-style);
    font-size: var(--body-font-size);
    line-height: 1.5;  
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);   
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
}

ul {
    list-style-type: square;
}

.about-me{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem   
}

.work-page {
    text-align: center;   
}

a {
    color: var(--shade9-color);
    text-decoration: none;
}

a:visited {
    /* visited link*/
    color: var(--shade7-color);
}

a:hover,
a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* selected link*/
    color: var(--shade9-color);

}

.email-submit-button {
    padding: 12px 24px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer; 
  }

button:hover,
button:focus, 
.button:hover, 
.button:focus {
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    transform: scale(1.03);
}

span{
    font-size: 20px;
    font-weight: 700;
    text-shadow:#101c23 1px 0 10px;
}
.profile-portrait {
    float: inline-start;
    width: 400px;
    margin-right: 40px;
    border-radius: 100px;

}
.page-footer {
    clear:both;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profile {
    max-width:700px;
    max-height: 700px;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}
/* .contact-content {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: auto;
    justify-content: center;

} */
/* .contact-info {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: auto;
    justify-content: center; 
} */

#contact-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    font-family: "Electrolize", sans-serif;
    background: var(--shade8-color);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  }

.contact-page-heading {
    text-align: center;
  }

.form-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  }

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none; 
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.project-photo {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    justify-content: center; /* optional: centers the images */
    flex-wrap: wrap;
    
}

.project-photo img {
    width: 100%; 
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
    object-fit:cover;
}

.project-photo img:hover {
    transform: scale(1.40);
  }

.project-description {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    justify-content: center; /* optional: centers the images */
    flex-wrap: wrap;
    flex-grow: 1;
}

.project-footer {
    margin-top:auto
}

.project-header {
    margin-top: auto;
}

.main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}


.case-study-gallery img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
.case-study-intro {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

.case-study-section {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

 .case-study-table {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
} 

table {
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 60%;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}


/*start grid fallback*/
.grid__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 550px;
    /* margin: 0 auto; */
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  
}
@supports (display:grid) {
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: strech;
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
    
    
}}


@media all and (max-width: 500px){
    .grid {
        grid-template-columns: 1fr;
    } 
}

@media all and (min-width: 500px) and (max-width:750px){
    .grid {
        grid-template-columns: 1fr 1fr;

    }
}
@media all and (max-width: 750px) {

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: var(--grid-h1-font-size);
    }
}

